@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.tox-notifications-container {
    display: none;
}

.tox-statusbar__branding {
    display: none;
}

.bootstrap-tagsinput {
    width: 100%;
}

.bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: white;
}

.label-info {
    background-color: #5bc0de;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.tag {
    color: #fff !important;
}

#map {

    margin-top: 10px;

    max-width: 100%;
    width: 100%;

    height: 350px;

  }

  .mapControls {

    margin-top: 10px;

    border: 1px solid transparent;

    border-radius: 2px;

    box-sizing: border-box;

    -moz-box-sizing: border-box;

    height: 45px;

    outline: none;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

  }

  #searchMapInput {

    border-radius: 5px;
    font-size: 12px;
    height: auto;
    padding: 12px 15px;
    max-width: 100%;
    width: 100%;
    background: #fff;
    color: #62626e;
    border: 1px solid #e5e5e5;
    transition: .2s ease-in-out;
    transition-property: color,background-color,border;

  }

  *,
  *::after {
    box-sizing: border-box;
    margin: 0;
  }

  .ticket {
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-width: 30rem;
  }
  .ticket__header, .ticket__body, .ticket__footer {
    padding: 1.25rem;
    background-color: white;
    border: 1px solid #abb5ba;
    box-shadow: 0 2px 4px rgba(41, 54, 61, 0.25);
  }
  .ticket__header {
    font-size: 1.5rem;
    border-top: 0.25rem solid #dc143c;
    border-bottom: none;
    box-shadow: none;
  }
  .ticket__wrapper {
    box-shadow: 0 2px 4px rgba(41, 54, 61, 0.25);
    border-radius: 0.375em 0.375em 0 0;
    overflow: hidden;
  }
  .ticket__divider {
    position: relative;
    height: 1rem;
    background-color: white;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .ticket__divider::after {
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    top: 0;
    border-bottom: 2px dashed #e9ebed;
  }
  .ticket__notch {
    position: absolute;
    left: -0.5rem;
    width: 1rem;
    height: 1rem;
    overflow: hidden;
  }
  .ticket__notch::after {
    content: "";
    position: relative;
    display: block;
    width: 2rem;
    height: 2rem;
    right: 100%;
    top: -50%;
    border: 0.5rem solid white;
    border-radius: 50%;
    box-shadow: inset 0 2px 4px rgba(41, 54, 61, 0.25);
  }
  .ticket__notch--right {
    left: auto;
    right: -0.5rem;
  }
  .ticket__notch--right::after {
    right: 0;
  }
  .ticket__body {
    border-bottom: none;
    border-top: none;
  }
  .ticket__body > * + * {
    margin-top: 0.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid #e9ebed;
  }
  .ticket__section > * + * {
    margin-top: 0.2rem;
  }
  /* .ticket__section > h4 {
    font-size: 1.125rem;
    margin-bottom: 0.9rem;
  } */
  .ticket__header, .ticket__footer {
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
  }
  .ticket__footer {
    border-top: 2px dashed #e9ebed;
    border-radius: 0 0 0.325rem 0.325rem;
  }



  /* syle buat multiple image */

ul.input-image {
    padding-left: 0px !important;
}

.input-image {
    margin: -5px;
}

.input-image:after {
    content: "";
    display: table;
    clear: both
}

.input-image li {
    float: left;
    width: 70px;
    height: 70px;
    margin: 5px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

.input-image li.add {
    border: 1px dashed;
    padding: 5px;
}

.input-image li>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
    background: #FFF;
}

.input-image li.add>img {
    margin-top: 5px;
    width: 50px;
    height: 50px;
    background: transparent;
}

.input-image li a.remove {
    position: absolute;
    display: block;
    bottom: 0;
    width: 100px;
    height: 20px;
    line-height: 20px;
    font-size: 0.9em;
    background: #222;
    background: rgba(0, 0, 0, 0.8);
    color: #FFF;
}

@media (min-width: 900px) {
    .input-image {
        margin: -10px;
    }

    .input-image li {
        width: 100px;
        height: 100px;
        margin: 10px;
    }

    .input-image li.add>img {
        margin-top: 20px;
    }
}
  /* ends */

  /* style untuk maps view */

  #map {

    margin-top: 10px;

    max-width: 100%;
    width: 100%;

    height: 300px;

    }

    .mapControls {

    margin-top: 10px;

    border: 1px solid transparent;

    border-radius: 2px;

    box-sizing: border-box;

    -moz-box-sizing: border-box;

    height: 45px;

    outline: none;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

    }

    #searchMapInput {

    border-radius: 5px;
    font-size: 12px;
    height: auto;
    padding: 12px 15px;
    max-width: 100%;
    width: 100%;
    background: #fff;
    color: #62626e;
    border: 1px solid #e5e5e5;
    transition: .2s ease-in-out;
    transition-property: color,background-color,border;

    }

    .text-bold {
      font-weight: 600;
    }

    /* CUSTOM BUTTON AND OTHER BOOTSTRAP */

    :root {
      --primary-color: #F15B28 !important;
      --soft-color: rgba(241,91,40, 0.2) !important;
      --basic-text: #FFF !important;
    }

    .bg-primary {
      background-color: var(--primary-color)!important;
    }

    .border-primary {
      color: var(--primary-color)!important;
    }

    .bg-soft-primary {
      background-color: var(--soft-color)!important;
      color: var(--primary-color)!important;
    }

    .text-primary {
      color: var(--primary-color)!important;
    }

    a.active .menu-icon {
      color: var(--primary-color)!important;
    }

    /* PRIMARY */
    .btn-primary {
        color: var(--basic-text);
        background-color: var(--primary-color);
        border-color: var(--primary-color);
    }

    .btn-primary:focus {
        color: var(--basic-text);
        background-color: var(--primary-color);
        border-color: var(--primary-color);
    }

    .btn-primary:hover {
        color: var(--primary-color);
        background-color: var(--soft-color);
        border-color: var(--primary-color);
    }

    .btn-primary:active {
      color: var(--basic-text);
      background-color: var(--primary-color);
      border-color: var(--primary-color);
    }

    .btn-primary:disabled,
    .btn-primary.is-disabled {
      opacity: .5;
    }

    /* OUTLINE */
    .btn-outline-primary {
      border-color: var(--primary-color);
      color: var(--primary-color);
    }
    .btn-outline-primary:hover {
      border-color: var(--primary-color);
      box-shadow: inset 0 0 0 20rem var(--primary-color);
    }

    .btn-outline-primary:focus {
      box-shadow:0 0 0 0.1rem var(--primary-color);
      background-color: var(--primary-color);
      color: var(--basic-text);
    }

    .btn-outline-primary:active {
      box-shadow: inset 0 0 0 20rem var(--primary-color),
        inset 0 3px 4px 0 var(--primary-color),
        0 0 1px var(--primary-color);
    }

    .btn-outline-primary:disabled,
    .btn-outline-primary.is-disabled {
      opacity: .5;
    }

    /* SOFT PRIMARY */
    .btn-soft-primary {
      background-color: var(--soft-color);
      color: var(--primary-color);
    }

    .btn-soft-primary:hover {
      background-color: var(--primary-color);
      color: var(--basic-text);
    }

    .btn-soft-primary:focus {
      box-shadow:0 0 0 0.1rem var(--primary-color);
      background-color: var(--primary-color);
      color: var(--basic-text);
    }

    .form-control:focus {
      border-color: var(--primary-color);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--soft-color);
    }

    .page-item .page-link {
      box-shadow: none;
    }

    .page-item.active .page-link {
      color: #fff;
      background-color: var(--primary-color);
      border-color: var(--primary-color);
      box-shadow: none;
    }

  /* ends */
