.outer {
    width: 100% !important;
    height: 100% !important;
    max-width: 190px !important;
    max-height: 190px !important;
    margin: auto;
    border-radius: 100%;
    position: relative;
    }

  .img-outer {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      transition: transform 0.3s ease-out;
  }

  .img-outer>img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 100%;
  }

  .inner {
    background-color: #ff1414;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: pointer;
  }

  .inner:hover {
    background-color: #5555ff;
    cursor: pointer;
  }

  .file-upload {
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: 1;
      width: 50px;
      height: 50px;
  }

  .file-upload + label {
      font-size: 1rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      overflow: hidden;
      width: 50px;
      height: 50px;
      pointer-events: none;
      line-height: 50px;
      text-align: center;
  }
  .file-upload + label svg {
      fill: #fff;
  }
